body{
    background: plum;
    font-family: sans-serif;
}

.container {
    max-width: 600px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    border-radius: 10px;
}

.city {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-bottom: 1px dashed plum ;
    padding:  20px 0;
}

.city:last-child {
    border: none;
}

h2{
    margin: 0 0 10px;
    font-size: 28px;
}

.date{
    opacity: 0.7;
}

.time {
    font-size: 48px;
    font-weight: bold;

}

.time small{
    font-size: 18px;
    line-height: 48px;
    vertical-align: middle;
}

select {
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    font-size: 13px;
}

h1{
    text-align: center;
    font-size: 30px;
}

footer{
    text-align: center;
    font-size: 13px;
}

